<h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>

    <div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'https://www.google.by/search?client=safari&rls=en&dcr=0&tbm=isch&sa=1&ei=45RpWpSsKM-dkwXHvJHYDg&q=rails+png&oq=rails+&gs_l=psy-ab.1.1.0l6j0i30k1l4.5680.5680.0.8455.1.1.0.0.0.0.388.388.3-1.1.0....0...1c.1.64.psy-ab..0.1.388....0.CskLoLS9JvM#imgdii=PpLsURe-yscOuM:&imgrc=hMngosTKNreXFM:' %>
